<html>
  <head>
    <link href="./fontawesome/css/all.css" rel="stylesheet">
  </head>
<style>
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap');

  img[alt="www.000webhost.com"] {
    display: none
  }

  body {
    height: 100%;
    margin: 0;
    background-color: white;
  }

  .column {
    margin: 25px;

  }

  .row {

    justify-content: center;
    display: flex;

  }

  .logo_img {
    width: 350px;
    margin-left: 80px;
    margin-top: 100px;
 margin-bottom: -100px;
  }

  .text_principal {
    font-family: 'Lato', sans-serif;
    color: white;
    text-align: right;
    margin-right: 40px;
    margin-top: -45px;
    font-size: 50px;
  }



  .icons {
    width: 550px;

  }

  .divider {
    width: 100%;
  }

  p {
    color: #0c0264;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
  }

  h1 {
    color: #0c0264;
    font-size: 45px;
    font-family: 'Lato', sans-serif;
  }

  .text_secundario {
    color: white;
    margin-top: -25px;
    font-size: 25px;
    margin-right: 40px;
    text-align: right;
    font-family: 'Montserrat', sans-serif;
  }

  .text_terciario {
    margin-left: 100px;
    margin-right: 350px;
  }

  @media only screen and (orientation: landscape) {

    /*SE FOR UM COMPUTADOR*/
    .logo_mobile {
      display: none;

    }
  }
  .logo_mobile {
    width:250px;
  
  }
  @media only screen and (orientation: portrait) {
    .logo_img {
      display: none;

    }

    .text_principal {
      text-align: center;
      font-size: 50px;
      margin-top: 0px;
      margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;

    }


    .text_secundario {
      text-align: center;
      margin-top: 10px;
      display: none;
      margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;

    }

    .text_direita {
      text-align: right;
      margin-left: 5px;
      margin-right: 35px;
    }

    .text_esquerda {
      text-align: left;
      margin-left: 35px;
      margin-right: 5px;
    }

    h1 {
      color: #0c0264;
      font-size: 40px;
      font-family: 'Lato', sans-serif;
    }

    p {
      color: #0c0264;
      font-size: 20px;
      margin-left: 25px;
      margin-right: 25px;
      font-family: 'Montserrat', sans-serif;
    }

    .icons {
      width: 90%;
    }

    .row {
      display: table;
    }
    .ico{
    width: 100px;
    } 
    .ico-text{ 
    font-size: 65px;
  }
  }

  .divider-rotate {
    width: 100%;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }


  .ico{
width: 125px;
margin:10px;
transition: 1s;
  }
  .ico-text{ 
    transition: 1s;
    font-size: 70px;
    color:white;
  }
  .ico:hover{
    transform: scale(1.2);
  }


html{
  scroll-behavior: smooth;
}
</style>

<body>
  <div class="container" style="background-color:#4545ec;">
    <br>
    <center>  <img class="logo_mobile" align="center" src="./images/logo_white.png"></center>
    <img class="logo_img" src="./images/logo_white.png">
    <h1 class="text_principal" style="font-size: 60px;">Olá nós somos a NorthDev!</h1>
    <h1 class="text_principal">A sua parceira em desenvolvimento</h1>
    <p class="text_secundario">Renove e informatize sua empresa de forma rápida sem burocracia.</p>
    <br><br><br><br>
    
<center><img href="#qualidades" style="width: 105px;"src="./images/scroll.png"></center>

  </div>

  <img class="divider" style="margin-top: -1px;"src="./images/wave.svg">
</body>

</html>